<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book List</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<h1 style="margin-left:40%;text-decoration:underline">CHAPTER ZERO</h1>
<div>
			<form th:action="@{/logout}" method="post" style="margin-left: 300px;width: 100%;">
				<p>
					Hi, <b>[[${#request.userPrincipal.principal.name}]] !</b>
				</p>
				<input type="submit" value="Sign out" />
			</form>
		</div>
</nav>

	<div class="container text-center">

	<h3>My Favorites</h1>
	<a th:href="@{/list_books}"><button>Home</button></a>
	</div>
	 <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    
                    <th>Title</th>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Publisher</th>
                    <th>Favorite</th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="book: ${book}">
                    <td><a th:text="${book.book_name}" target="_blank" th:href="@{${book.book_url}}"></a></td>
                    <td><a th:text="${book.author_name}" target="_blank" th:href="@{${book.authorUrl}}"></a></td>
                    <td th:text="${book.rating}">Rating</td>
                    <td th:text="${book.publisher}">Publisher</td>
  					<td th:if="${book.favorite == true}">
  						<form th:action="@{/updateFavorites}" method="POST" th:object="${book1}">
  							<input type="hidden" name="updateFavorite" />
  							 <input type="hidden" name="bookid" th:value="${book.bookid}">
  							 <input type="hidden" name="favorite" th:value="${book.favorite}">
  							 <input type="hidden" id="searchBookInput" name="searchBookInput" th:value="value"/>
  							<button type="submit" style="border:none;background: none;"><span style="font-size:150%; color:red;">&hearts;</span></button>
  						</form>
  						</td>
  					<td th:if="${book.favorite == false}">
  						<form th:action="@{/updateFavorites}" method="POST">
  							<form th:action="@{/updateFavorites}" method="POST" th:object="${book1}">
  							<input type="hidden" name="updateFavorite" />
  							 <input type="hidden" name="bookid" th:value="${book.bookid}">
  							 <input type="hidden" name="favorite" th:value="${book.favorite}">
  							<button type="submit" style="border:none;background: none;"><span style="font-size:150%;">&hearts;</span></button>
  						</form></td>      
                </tr>
            </tbody>
        </table>
    </div>
	
</body>
</html>