.chapterzero{margin-left:40%;text-decoration:underline}
.login-custom{margin-left:250px;text-decoration:underline;padding:5px;margin-right:50px;border:1px solid black;}
.custom-black{color:black;}
.singup-custom{text-decoration:underline;padding:5px;border:1px solid black;}